@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-family: "Poppins", sans-serif;
}

/* Hero section */
.hero {
  background-image: url(images/porsche-1851246_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.navbar {
  display: flex;
  background: rgba(182, 187, 193, 0.62);
  height: 93px;
}
.navlinks {
  display: flex;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 89px;
  font-size: 20px;
}
.navlink {
  margin-left: 34px;
  text-decoration: none;
  color: #1a1a18;
  border: 7px solid #e9c65e;
  border-radius: 43px;
  background-color: #e9c65e;
  padding-top: 10px;
  padding-left: 30px;
  height: 30px;
  width: 150px;
}
.logo {
  letter-spacing: 1.16em;
  margin-left: 150px;
  margin-top: 15px;
  font-size: 48px;
  font-weight: 900;
}

.hero-heading {
  position: absolute;
  left: 73px;
  top: 150px;
  color: #b6bbc1;
  font-size: 100px;
  max-width: 40%;
  text-align: center;
  line-height: 98px;
  letter-spacing: -4%;
  font-weight: 700;
  max-width: 700px;
}
.hero-paragraph {
  position: absolute;
  left: 220px;
  top: 400px;
  text-align: center;
  font-size: 36px;
  max-width: 419px;
  line-height: 47px;
  color: #e9c65e;
}
.coyoda-text {
  font-weight: 700;
  color: #e9c65e;
}
.left-block {
  position: absolute;
  width: 50%;
  background-color: rgba(26, 26, 24, 0.25);
  left: 1px;
  height: 90%;
  top: 93px;
}
.collection {
  width: 100vw;
  height: 800px;
  background: #1a1a18;
  position: relative;
}
.options {
  display: flex;
  justify-items: center;
  justify-content: center;
}
.options-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.option-link {
  margin-top: 30px;
  position: relative;
  width: 275px;
  height: 176px;
  border: 5px solid #b6bbc1;
  background: #1a1a18;
  text-align: center;
  margin-left: 30px;
}
.option-image {
  position: absolute;
  top: 5%;
  left: 35%;
}
.link {
  text-decoration: none;
  color: #e9c65e;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
}
