@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-family: "Poppins", sans-serif;
}

/* Hero section */
.hero {
  background-image: url(images/porsche-1851246_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.navbar {
  display: flex;
  background: rgba(182, 187, 193, 0.62);
  height: 93px;
}
.navlinks {
  display: flex;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 89px;
  font-size: 20px;
}
.navlink {
  margin-left: 34px;
  text-decoration: none;
  color: #1a1a18;
  border: 7px solid #e9c65e;
  border-radius: 43px;
  background-color: #e9c65e;
  padding-top: 10px;
  padding-left: 30px;
  height: 30px;
  width: 150px;
}
.navlink:hover {
  color: #e9c65e;
  border: 7px solid #1a1a18;
  background: #1a1a18;
  transition: all 0.3s;
}
.logo {
  letter-spacing: 1.16em;
  margin-left: 150px;
  margin-top: 15px;
  font-size: 48px;
  font-weight: 900;
}

.hero-heading {
  position: absolute;
  left: 73px;
  top: 150px;
  color: #b6bbc1;
  font-size: 100px;
  max-width: 40%;
  text-align: center;
  line-height: 98px;
  letter-spacing: -4%;
  font-weight: 700;
  max-width: 700px;
}
.hero-paragraph {
  position: absolute;
  left: 220px;
  top: 400px;
  text-align: center;
  font-size: 36px;
  max-width: 419px;
  line-height: 47px;
  color: #e9c65e;
}
.coyoda-text {
  font-weight: 700;
  color: #e9c65e;
}
.left-block {
  position: absolute;
  width: 50%;
  background-color: rgba(26, 26, 24, 0.25);
  left: 1px;
  height: 90%;
  top: 93px;
}
.collection {
  width: 100vw;
  height: 800px;
  background: #1a1a18;
  position: relative;
}
.options {
  display: flex;
  justify-items: center;
  justify-content: center;
}
.options-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.option-link {
  margin-top: 30px;
  position: relative;
  width: 275px;
  height: 176px;
  border: 5px solid #b6bbc1;
  background: #1a1a18;
  text-align: center;
  margin-left: 30px;
}
.option-link:hover {
  border: 5px solid #e9c65e;
}
.option-image {
  position: absolute;
  top: 5%;
  left: 35%;
}
.link {
  text-decoration: none;
  color: #e9c65e;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
}
.link:hover {
  color: #b6bbc1;
  transition: color 0.3s;
}
/* Our Collection */
.our-collection {
  text-align: center;
  max-width: 800px;
  transform: translateX(-70%);
  transform: translateX(70%);
}
.collection-header {
  font-size: 64px;
  color: #b6bbc1;
}
.collection-text {
  font-size: 24px;
  color: #e9c65e;
  font-weight: bold;
  margin: 3px;
}
.collection-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}
.one-showcase {
  min-height: 853px;
  min-width: 1920px;
  position: relative;
}
.frontier {
  background-image: url("/images/nissan-1694345_1280.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}
.suv {
  background-image: url("/images/suv-1344716_1280.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}
.ferrari {
  background-image: url("/images/car-race-438467_1280.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}
.showcase-header {
  margin-top: 35px;
  position: absolute;
  margin-left: 60px;
  font-size: 48px;
  letter-spacing: 18%;
  line-height: 72px;
  color: white;
}
.showcase-button {
  color: #e9c65e;
  border: 1px solid #1a1a18;
  background: #1a1a18;
  text-decoration: none;
  padding: 1rem 3rem;
  text-align: center;
  border-radius: 23px;
  font-size: 36px;
  font-weight: 900;
  margin-left: 90px;
  position: absolute;
  top: 200px;
  transition: all 0.3s;
}
.showcase-button:hover {
  background-color: #e9c65e;
  color: #1a1a18;
  border: 1px solid #e9c65e;
}
.footer {
  height: 150px;
  background: #b6bbc1;
  margin-top: -32px;
  text-align: center;
  color: #1a1a18;
  display: flex;
  justify-content: center;
}
.footer h1 {
  letter-spacing: 18%;
  font-weight: 700;
  font-size: 48px;
}
